body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#sidebar-wrapper {
  min-width: 250px;
  max-width: 250px;
}

#page-content-wrapper {
  flex: 1;
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.btn-primary, .btn-secondary {
  margin-top: 0px;
}

.book-cover {
  height: 500px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}